.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icon/icon-phone-call.png);
  }

  &--burger {
    background-image: url(../images/icon/icon-burger-menu.png);

    &:hover {
      background-image: url(../images/icon/icon-burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/icon/icon-close.png);
  }
}
