.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icon/icon-phone-call.png);
    position: relative;
    &:hover::before {
      content: '+12345555555';
      color: $text-color-white;
      width: fit-content;
      position: absolute;
      right: 40px;
      line-height: 24px;

      @include on-tablet {
        line-height: 32px;
      }
    }
  }

  &--burger {
    background-image: url(../images/icon/icon-burger-menu.png);

    &:hover {
      background-image: url(../images/icon/icon-burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/icon/icon-close.png);
  }
}
