.menu {
  background-color: $background-grey;
  height: 100vh;
  text-transform: uppercase;
  font-weight: 600;

  &__content {
    display: flex;
    flex-direction: column;
    color: $text-color-black;

    padding-block: 24px;
  }

  &__phone-number {
    display: block;
    margin-top: 40px;
    font-size: 16px;
    line-height: 27px;
    color: inherit;
  }

  &__book {
    display: block;
    width: fit-content;
    margin-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #1d1d1d;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: inherit;
  }
}

.nav {
  &__link {
    color: inherit;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    position: relative;

    &::after {
      content: '';
      height: 1px;
      background-color: $text-color-black;
      position: absolute;
      display: block;
      width: 100%;
      bottom: -8px;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
