* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  margin: 0;
  display: inline-flex;
  color: $text-color-white;
}

.page {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $text-color-white;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 140%;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all 0.3s;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

.container {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
    margin-inline: auto;
    max-width: 1260px;
  }
}

.main {
  background-color: $background-black;
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position-x: center;
  width: 100vw;
  height: 200px;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
