.product {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  @include on-tablet {
    grid-column: 2/-2;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin-block: 32px 8px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    margin-top: 16px;
    line-height: 140%;
  }
}
