$background-black: #1d1d1d;
$background-grey: #c2c2c2;
$text-color-black: #1d1d1d;
$text-color-white: #fff;
$input-color-background: #f8f8fa;
$input-color-text: #292929;
$input-color-text-default: #7e7e83;
$link-hover-color: #cce;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
